<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>forms</title>
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body>
    <!-- 이메일 입력폼 (light)  -->
    <form class="email-form" action="#">
      <label class="email-label" for="email">레이블</label>
      <input
        class="email-input"
        type="email"
        name="email"
        id="email"
        placeholder="yamoo9@euid.dev"
        required
      />
      <span class="form-message"></span>
    </form>
    <!-- 이메일 입력폼 (dark)  -->
    <!-- 비밀번호 입력폼 (light)  -->
    <form class="password-form" action="#">
      <label class="password-label" for="password">비밀번호</label>
      <input
        class="password-input"
        type="password"
        name="password"
        id="passsword"
        required
      />
      <span class="password-message"></span>
    </form>
    <!-- 비밀번호 입력폼 (dark)  -->
  </body>
</html>
