<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>forms</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <!-- 이메일 입력폼 (light)  -->
    <div class="form-wrapper">
      <form action="#">
        <label class="form-label" for="email">레이블</label>
        <input
          class="form-input"
          type="email"
          name="email"
          id="email"
          aria-required="true"
          aria-describedby="emailMessage"
          aria-invalid="true"
          placeholder="yamoo9@euid.dev"
        />
        <span class="form-message" id="emailMessage"
          >오류 메세지를 출력합니다.</span
        >
      </form>
    </div>
    <!-- 이메일 입력폼 (dark)  -->
    <!-- 비밀번호 입력폼 (light)  -->
    <div class="form-wrapper">
      <form action="#">
        <label class="form-label" for="password">비밀번호</label>
        <input
          class="form-input"
          type="password"
          name="password"
          id="passsword"
          aria-required="true"
          aria-describedby="pwMessage"
          aria-invalid="true"
          required
        />
        <span class="password-message" id="pwMessage"
          >비밀번호는 영문, 숫자 조합 4 - 60자 사이 값을 입력합니다.</span
        >
      </form>
    </div>
    <!-- 비밀번호 입력폼 (dark)  -->
    <!--  -->
  </body>
</html>
