header {
  /* background-color: gray; */
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}

.header-wrapper {
  /* background-color: yellowgreen; */
  width: 90.7%;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header-logo svg {
  width: 140px;
}

.header-button-group {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 1.5em;
}
