header {
  width: 100%;
  height: 16.67vh;
  background: url(../../images/logo-red-fill.svg) no-repeat 4em 50%,
    var(
      --gradients-100,
      linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%)
    );
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1.5em;
}

.header-button-group {
  margin-right: 4em;
}
