<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body>
    <header>
      <div class="header-button-group">
        <form class="lang-select-form" action="#" method="get">
          <label class="sr-only" for="lang">언어 선택</label>
          <select class="lang-select" name="lang" id="lang">
            <option value="lang">한국어</option>
            <option value="lang">English</option>
          </select>
        </form>
        <button class="button normal-button" type="button">로그인</button>
      </div>
    </header>
  </body>
</html>
