:root {
  --white: #ffffff;
  --Opacity-20: #00000033;
  --Grey-800: #4e4e4e;
  --Grey-500: #c4c4c4;
  --Grey-100: #f3f3f3;
  --Greyscale: #555555;
  --blue-600: #0074e9;
}

body {
  background-color: lightgrey;
  display: flow-root;
  width: 600px;
}

/* 카드링크 와이드 */

.cardlink-wide {
  width: 502px;
  height: 310px;
  border: 1px solid var(--grey-500);
  margin: 8px 8px;
  background: var(--white);
  display: flex;
  flex-flow: column wrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  float: left;
  position: relative;
}

.cardlink-wide-info {
  text-align: center;
  margin-top: -30px;
}

img.wide-logo {
  width: auto;
  height: 67px;
  margin-bottom: 15px;
}

.cardlink-wide p {
  font-size: 24px;
  font-weight: 700;
  color: var(--Grey-800);
  text-align: center;
  line-height: 36px;
  margin: 0 auto;
}

.wide-product {
  width: 222px;
  height: 270px;
}

/* 카드링크 노말 */

.cardlink-normal {
  width: 243px;
  height: 310px;
  border: 1px solid var(--grey-500);
  margin: 8px 8px;
  background: var(--white);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  /* align-content: center; */
  float: left;
  position: relative;
}

.cardlink-normal-info {
  text-align: center;
  margin-top: 10px;
}

.normal-logo {
  width: auto;
  height: 42px;
  margin-bottom: 10px;
}

.cardlink-normal p {
  font-size: 18px;
  font-weight: 700;
  color: var(--Greyscale);
  text-align: center;
  line-height: 27px;
  margin: 0 auto;
}

.normal-product {
  width: auto;
  height: 195px;
}

/* 구매하기 버튼 */

.buy-button {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: var(--Opacity-20);
  width: 42px;
  height: 42px;
  color: var(--white);
  text-decoration: none;
  line-height: 42px;
  text-align: center;
}

.buy-button:hover {
  width: 110px;
  background: var(--blue-600);
}

.buy-button:hover:before {
  content: "구매하기";
  font-weight: 500;
  margin-right: 15px;
}
