@import url(/reset.css);

body {
  background: dimgray url(/images/bgimg-coffee.png) no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10vh;
}

/* 문구 */
.info {
  text-align: center;
  margin: 10% auto;
}

.info :is(h2, p) {
  margin: 0;
}

.info :nth-child(1) {
  font-size: 2rem;
  line-height: 2;
}

.info :nth-child(3) {
  font-size: 0.6rem;
}

/* 입력그룹 */
.log-in-group {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 10vh;
  position: relative;
}

.input-box {
  /* margin-bottom: 5vh; */
  position: relative;
}

.input-box :is(label, span) {
  font-size: 1.1rem;
  position: absolute;
  margin-right: auto;
  top: -20%;
  /* transition: ease-in 400ms; */
  transition: top 500ms, font-size 500ms;
}

input::placeholder {
  color: transparent;
}

#email-id,
#password {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  color: white;
}

.input-box:hover > label,
.input-box:focus > label {
  font-size: 1rem;
  top: -100%;
}

.input-box:hover > ::placeholder,
.input-box:focus > ::placeholder {
  color: gray;
}

input:focus {
  outline: none;
}

#email-id:hover,
#password:hover {
  border-bottom: 1.5px solid white;
}

/* .log-in-group:valid {
  background-image: url(/images/warning.svg);
} */

/* bg-position 이용해서 입력 상태에 따른 메세지 보이게하기 */

/* 아이디 저장 */

.save-id-group {
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 1%;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 160px;
}

.button-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.button-group p {
  display: inline-block;
  margin: 0;
}

.log-in-button {
  width: 49%;
  font-size: 20px;
  line-height: 2;
  border-radius: 10px;
  border: 2px solid #24388d;
  color: #24388d;
  text-decoration: none;
}

.join-button {
  width: 49%;
  font-size: 20px;
  line-height: 2;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
}

.button-group i {
}
