body {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(/images/background.png);
}

main {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-block-end: 16.7vh;
}

.main-wrapper {
  height: 67vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 28px;

  & h2 {
    width: 65%;
    color: var(--White, #fff);
    text-align: center;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2; /* 72px */
    letter-spacing: -0.03px;
    white-space: normal;
  }
  & span {
    color: var(--White, #fff);
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5; /* 30px */
    letter-spacing: -0.01px;
  }

  & p {
    color: var(--White, #fff);
    font-weight: 700;
    line-height: 1.5; /* 24px */
    letter-spacing: -0.008px;
  }
}

main .form-wrapper {
  width: 46vw;
  /* justify-content: center; */
  & form {
    display: flex;
    flex-flow: row nowrap;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: black;
  }

  .main-wrapper {
    row-gap: 24px;
    padding-inline: 1.125em;
    text-align: center;

    & h2 {
      width: 90%;
      font-size: 2.125rem;
      white-space: normal;
    }
    & span {
      width: 76%;
      font-size: 1.125rem;
      /* text-align: center; */
    }

    & p {
      width: 80%;
      font-size: 0.875rem;
      font-weight: 400;
      letter-spacing: -0.007px;
    }

    & .last-p {
      font-size: 0.75rem;
    }
  }

  main .form-wrapper {
    width: 73%;
    /* justify-content: center; */
    & form {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      row-gap: 0.75em;
    }
  }
}
