<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body>
    <footer>
      <div class="footer-group-1">
        <p>질문이 있으신가요? 문의 전화: 00-308-321-0058</p>
      </div>

      <ul class="footer-navigation footer-group-2">
        <li><a href="">자주 묻는 질문</a></li>
        <li><a href="">고객센터</a></li>
        <li><a href="">계정</a></li>
        <li><a href="">미디어 센터</a></li>
        <li><a href="">투자 정보(IR)</a></li>
        <li><a href="">입사 정보</a></li>
        <li><a href="">Netflix 지원 디바이스</a></li>
        <li><a href="">이용 약관</a></li>
        <li><a href="">개인정보</a></li>
        <li><a href="">쿠키 설정</a></li>
        <li><a href="">회사 정보</a></li>
        <li><a href="">문의하기</a></li>
        <li><a href="">속도 테스트</a></li>
        <li><a href="">법적 고지</a></li>
        <li><a href="">Netflix 오리지널</a></li>
      </ul>
      <div class="footer-group-3">
        <form class="lang-select-form" action="#" method="get">
          <label class="sr-only" for="lang">언어 선택</label>
          <select class="lang-select" name="lang" id="lang">
            <option value="lang">한국어</option>
            <option value="lang">English</option>
          </select>
        </form>
      </div>
      <div class="footer-group-4">
        <p>Netflix 대한민국</p>
      </div>
      <div class="footer-group-5">
        <p>넷플릭스서비시스코리아 유한회사</p>
        <p>통신판매업신고번호: 제2018-서울종로-0426호</p>
        <p>전화번호: 00-308-321-0058</p>
        <p>대표: 레지널드 숀 톰프슨</p>
        <p>이메일 주소: korea@netflix.com</p>
        <p>
          주소: 대한민국 서울특별시 종로구 우정국로 26,센트로폴리스 A동 20층
          우편번호 03161
        </p>
        <p>사업자 등록번호: 165-87-00119</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
        <a href="">공정거래위원회 웹사이트</a>
      </div>
    </footer>
  </body>
</html>
